extends ../layout.pug


block main
  section.hero.is-success.is-2.is-small
    .hero-body
      .container.has-text-centered
        h1.title="Hey "+ welcome_name +" ! Welcome to the Khaos Kitchen forum!"
        h2.subtitle 
          | Here you can keep up to date with the latest Khaos Kitchen news, discuss Khaos Kitchen with the community and post 
          | your own ideas and issues!

  section.section
    div.columns
      div.column.is-6.is-offset-1
        each post in posts
          div.box
            article.media
              figure.media-left
                p.image.is-64x64
                  img.is-rounded(src='https://bulma.io/images/placeholders/128x128.png')
              .media-content.is-success
                .content
                  p
                    strong=post['username']
                  p=post['message']
                    br
                    small
                      a Reply
                      |  · 3 hrs
                article.media
                  if locals.logged_in
                    figure.media-left
                      p.image.is-48x48
                        img.is-rounded(src='https://bulma.io/images/placeholders/96x96.png')
                    .media-content
                      .field
                        form(method="POST", action='http://localhost:8080/reply_to_post')
                          input(type="hidden",name="post_id", value=post['post_id'])
                          .form-group.p.control
                            textarea.textarea.has-fixed-size.form-control(placeholder='Write a reply..', type="text", name="reply", rows="1")
                          .form-group.p.control
                            div.field
                              br
                              button.button.form-control(type="submit") Reply
                  else
                    p 
                      strong Please login to reply to this post
                each reply in post['replies'].reverse()
                  article.media
                    figure.media-left
                      p.image.is-48x48
                        img.is-rounded(src='https://bulma.io/images/placeholders/96x96.png')
                    .media-content
                      .content
                        p
                          strong=reply['username']
                        p=reply['reply']
                          br
                          small 3 hrs
            
        else 
          div.box
            p No posts in the forum
      div.column.is-4
        div.box
          if locals.logged_in
            article.media
              .media-content
                .field
                  form(method="POST", action='http://localhost:8080/create_post')
                    .form-group.p.control
                      label(for="post") Anything we can do?
                      textarea.textarea.has-fixed-size.form-control(placeholder='Go on spill it..', type="text", name="post", rows="10")
                    .form-group.p.control
                      div.field
                        br
                        button.button.is-info.form-control(type="submit") Create Post 
          else
            h2
              strong Please login to create a post.
            br
            a.button.is-button.is-link(href="/login") Login


