extends ../layout.pug


block main
  section.hero.is-danger.is-bold.is-2
    .hero-body
      .container.has-text-centered
        br
        p.is-size-3.is-fredoka.has-text-shadow="Hey " + welcome_name + "! Welcome to the Khaos Kitchen forum!"
        br
      .container.has-text-centered
        p.is-size-5
          | Here you can keep up to date with the latest Khaos Kitchen news, discuss Khaos Kitchen with the community and post
          | your own ideas and issues!
        br
        a(href='https://itunes.apple.com/WebObjects/MZStore.woa/wa/')
          img.small-appstore-img(src="../media/store-apple.svg")
        a(href='https://play.google.com/store')
          img.small-appstore-img(src="../media/store-google.svg")

  section.section.header-image
    div.columns
      div.column.is-4
        div.box
          if locals.logged_in
            article.media
              figure.media-left
                p.image.is-64x64
                  img.is-rounded(src=avatar)
              .media-content
                .field
                  form(method="POST", action='http://localhost:8080/create_post')
                    label(for="post_title") Title
                    .form-group.p.control
                      textarea.textarea.has-fixed-size.form-control(type="text", name="post_title_box", rows="1")
                    label(for="post_msg") Body
                    .form-group.p.control
                      textarea.textarea.has-fixed-size.form-control(type="text", name="post_msg_box", rows="7")
                    .form-group.p.control
                      div.field
                        br
                        button.button.is-info.form-control(type="submit") Create Post
          else
            h2
              strong Please login to create a post.
            br
            a.button.is-button.is-link.login_button Login
      div.column.is-8
        each post in posts
          div.box.postbox
            article.media
              figure.media-left
                p.image.is-64x64
                  img.is-rounded(src=post['avatar_img'])

              .media-content.replies-container
                .content
                  h4.is-fredoka
                    strong=post['title'] + " by " + post['username']
                  input.input_post_id(type="hidden", name="hidden_post_id", value=post['post_id'])
                  p=post['message']
                    br
                    small
                      p.has-text-primary=post['time']
                article.media.reply-textbox
                  if locals.logged_in
                    figure.media-left
                      p.image.is-48x48
                        img.is-rounded(src=avatar)
                    .media-content
                      .field
                        form.reply_forum(method="POST", action='http://localhost:8080/reply_to_post')
                          input.input_post_id(type="hidden", name="post_id", value=post['post_id'])
                          .form-group.p.control
                            textarea.textarea.has-fixed-size.form-control(placeholder='Write a reply..', type="text", name="reply", rows="1")
                          .form-group.p.control
                            div.field
                              br
                              button.button.form-control(type="submit") Reply
                  else
                    p.is-fredoka Please login to reply to this post
        else
          div.box
            p No posts in the forum
